
h1{
	color: #87551b;
}

body{
	background-color: #fff;
}

p{
	color: #f00;
}

.greenParagraph{
	color: #0f0;
}

table, td{
	border-style: dashed;
}

td{
	border-width: 2px;
	border-color: #ffc014;
}
table{
	border-width: 4px;
	border-color: #0a0a0a;
	margin-left: auto;
	margin-right: auto;
}
body{
	background-image: url();
}
img{
	border-radius: 25px;
}
img:hover{
	opacity: 0.75;
}
ul{
	list-style-type: none;
	background-color: #e7eb15;
	overflow: hidden;
	

}
li a{
	float: left;
	display: block;
	width: 150px;
	background-color: #eff542;
	text-align: center;
	padding: 15px 15px;
	text-decoration: none;
	color: #121212;
}
li a:hover{
	background-color:#f0d47a

}
.active{
	border-bottom: 2px dashed #121212;
}	

